<div>
<h4>Total </h4> <hr/>
<div class="dashboard-contnr">
<div class="box1">
    <h6>Total Cases</h6>
    <p>{{coronaData?.cases}}</p>
</div>
<div class="box2">
    <h6> Total Deaths</h6>
    <p>{{coronaData?.deaths}}</p>
    </div>
<div class="box3">
    <h6>Total Recovered</h6>
    <p>{{coronaData?.recovered}}</p>

</div>
    </div>
    <h4>Today </h4> <hr/>
<div class="dashboard-contnr2">
<div class="box4">
    <h6>Cases</h6> 
    <p>{{coronaData?.todayCases}}</p>
</div>
<div class="box5">
    <h6> Deaths</h6>
    <p>{{coronaData?.todayDeaths}}</p>

</div>
<div class="box6">
    <h6>Recovered</h6>
    <p>{{coronaData?.todayRecovered}}</p>
</div>
    </div>
</div>