.login-page{
    width:350px;
    height:50%;
    background-color: mediumspringgreen;
  .title{
      text-align: center;
      color: mediumseagreen;
  }
.example-container{
    text-align: center;
    .form-container{
        width: 400 px; 
        margin: 0 px auto; 
        margin-top: 200 px;
        .form-field{
            display: block;
            font-size: 12px;
        }
    }
}
}



