.countrylist{
    margin-left: 5px;
   .header{
       width: 100%;
       height: 50px;
       display: flex;
       align-items: center;
       justify-content: space-around;
       h3{
           color: cadetblue;
       }
      
   } 
.contycontainer{
    width: 100%;
    height: 100%;
    margin-top: 5px;
    display: grid;
    grid-template-columns:1fr 1fr 1fr ;
    grid-auto-rows: 200px;
    grid-gap: 10px;
    .country{
        padding: 10px;
        border: blue 2px solid;
        border-radius: 5%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 64px 64px 64px;
        .png-icon{
            margin: 5px auto auto 5px;
            padding: 0;
            display: inline-block;
            background-repeat: no-repeat no-repeat;
            pointer-events: none;
        }
        .countryname{
            grid-column-start:2;
            grid-column-end: 4;
            text-align: center;
        }
       div{ .para{
          font-size: 15px;
        }
    }
    .edit{
        display: flex;
        justify-content: end;
        align-items: center;
    }
    }
}
}
.formcontainer{
    width:100%;
    height: 100vh;
    background-color: white;
    padding: 10px;
    margin-left:10px ;
    h5{
        margin-bottom: 10px;
    }
}